<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>法诉关联分析</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head th:include="layout :: htmlhead" th:with="title='法诉关联分析'"></head>
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<style>
.test1 {
      text-align:justify;
      text-justify:distribute-all-lines;/*ie6-8*/
      text-align-last:end;/* ie9*/
      -moz-text-align-last:justify;/*ff*/
      -webkit-text-align-last:justify;/*chrome 20+*/
  }
  @media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
      .test1:after{
          display: inline-block;
          width:100%;
          overflow:hidden;
          height:0;
      }
  }
</style>
<body>
<blockquote class="layui-elem-quote layui-text">
法诉关联查询示例
</blockquote>
	<div class="layui-container" style="margin-bottom: 60px;">
		<fieldset class="layui-elem-field layui-field-title"
			style="margin-top: 20px;">
		</fieldset>
		<div class="layui-row">
			<form class="layui-form" action="">
				<div class="layui-form-item" >
					<div class="layui-inline">
						<label class="layui-form-label">订单编号</label>
						<div class="layui-input-inline">
							<input type="text" name="applyNo" lay-verify="required|number"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户姓名</label>
						<div class="layui-input-inline">
							<input type="text" name="userName"  autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">证件号码</label>
						<div class="layui-input-inline">
							<input type="text" name="idCardNum" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">走起</button>
					</div>
				</div>
			</form>
		</div>
		<fieldset class="layui-elem-field layui-field-title"
			style="margin-top: 20px;">
		</fieldset>
		<div class="layui-row">
			<table lay-filter="parse-table-demo" class="layui-col-md-offset1">
			  <tbody>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">客户姓名：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">出生日期：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">性别：</td>
			      <td></td>
			    </tr>
			    <!-- <tr>
			      <td class="test1" style="padding: 0px 10px;">当事人姓名或名称：</td>
			      <td></td>
			    </tr> -->
			  </tbody>
			</table>
		</div>
		
	</div>
	<script id="coredata" type="text/x-jquery-tmpl"> 
	  	<fieldset class="layui-elem-field layui-field-title"
			style="margin-top: 20px;">
		</fieldset>
		<div class="layui-row">
			<table lay-filter="parse-table-demo" class="layui-col-md-offset1" style="margin-left: 40px;">
			  <tbody>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">标题：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">结案时间：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">当事人姓名或名称：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">证件名称：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">案号：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">诉讼地位：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">审理机关：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">文书类型：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">涉案事由：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">涉案金额：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">审理结果：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">审理程序：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">审理人员：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">异议备注：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">完整内容查看地址：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">原告当事人：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">被告当事人：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">其他当事人：</td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="test1" style="padding: 0px 10px;">案件内容：</td>
			      <td>{{html Ctrl.x}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
		layui.use([ 'form', 'layedit', 'laydate' ],
			function() {
				var form = layui.form, layer = layui.layer;
				//监听提交
				form.on('submit(demo1)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title : '最终的提交信息'
					})
					return false;
				});
		});
		
		 $(function () {
            var users = [{ ID: 'think8848', Name: 'Joseph Chan', Ctrl: {x:"x"} }, { ID: 'aCloud', Name: 'Mary Cheung', Ctrl: {x:'<input type="text" value="Demo" />'}}];
            $('#coredata').tmpl(users).appendTo('.layui-container');
        });
	</script>

</body>
</html>